<h1>Login</h1>
<form #form="ngForm" novalidate (ngSubmit)="form.reset(form.value); submit(form.value)">
  <mat-form-field class="form__field">
    <mat-label>E-Mail</mat-label>
    <input #email="ngModel" matInput ngModel name="email" required autocomplete="username">
    <mat-hint *ngIf="email.pristine && serverErrors['email']" @fade>
      <span class="mat-error">{{ serverErrors['email'][0] }}</span>
    </mat-hint>
  </mat-form-field>

  <mat-form-field class="form__field">
    <mat-label>Password</mat-label>
    <input
      #password="ngModel"
      matInput ngModel
      name="password"
      required
      type="password"
      autocomplete="current-password"
    >
    <mat-hint *ngIf="password.pristine && serverErrors['password']" @fade>
      <span class="mat-error">{{ serverErrors['password'][0] }}</span>
    </mat-hint>
  </mat-form-field>

  <app-actions>
    <button mat-raised-button type="button" appBackButton>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || isLoading">
      <app-spinning-button-label [isSpinning]="isLoading">Login</app-spinning-button-label>
    </button>
  </app-actions>
</form>
