<ng-container *ngIf="post$ | async as post">
  <h1>{{ post.title }}</h1>
  <p>{{ post.body }}</p>
  <p>
    <small>{{ post.created_at | date }}, {{ post.user.name }}</small>
  </p>
  <app-actions>
    <button mat-raised-button color="warn" (click)="destroy(post)" [disabled]="isLoading">
      <app-spinning-button-label [isSpinning]="isLoading">Delete Post</app-spinning-button-label>
    </button>
    <button mat-raised-button color="primary" [routerLink]="['./edit']">Edit Post</button>
  </app-actions>
</ng-container>
